ytd-watch-flexy #secondary, ytd-watch-next-secondary-results-renderer, #related {
    display: none !important;
}

ytd-watch-flexy #columns, ytd-watch-grid #columns {
    grid-template-columns: minmax(0, 1fr) !important;
    column-gap: 0px !important;
}

ytd-watch-flexy #primary, ytd-watch-grid #primary {
    max-width: none !important;
    width: 100% !important;
    flex: 1 1 auto !important;
}

ytd-watch-flexy[theater] #columns, ytd-watch-grid[theater] #columns {
    grid-template-columns: minmax(0, 1fr) !important;

}